# Build
.build/
Build/

# Swift Package Manager
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.playground/
DerivedData/

# macOS
.DS_Store
*.swp
*~

# IDE
.vscode/
.idea/

# Binaries
*.o
*.a
*.dylib
